:8080 {
	bind 127.0.0.1
	log {
		output stdout
		format console
	}
	handle /api/* {
		reverse_proxy localhost:8000
	}
	handle {
		root * ./frontend/dist
		try_files {path} /index.html
		file_server
	}
}
